@import url(http://fonts.googleapis.com/css?family=Armata|PT+Sans|Pinyon+Script);
@import url(http://fonts.googleapis.com/css?family=Armata|PT+Sans|Montserrat:700,400);
body{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    height: auto;
    min-height: 100%;
    width: 100%;
    line-height: 25px;
}
body.single-page{
    background: #565656;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Armata', sans-serif;
}
ul.mainNav li a {
    font-family: 'Armata', sans-serif;
}
h1{
    font-size: 26px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}
ul li{
    list-style: circle;
}
a{
    color: #62A9BC;
}
a:hover{
    color: #428bca;
}
footer{
    background: #f9f9f9;
    padding: 0 10px 5px 10px;
    text-align: right;
    font-size: 12px;
    color: #8F8F8F;
}

/******  top navigation start *****/
div.navigation {
    background: #555557;
    color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 1;
    z-index: 1;
}
.navigation a{
    line-height: 63px;
}
.navigation a:hover{
    text-decoration: none;
}
.navigation a h1 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
    line-height: 37px;
    text-transform: uppercase;
}
.header-logo {
    float: left;
    text-align: center;
    width: 180px;
}


.top-navigation ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.top-navigation ul li {
    display: inline-block;
}
.top-navigation ul{
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}
.top-navigation ul li{
    display: inline-block;
}

.top-navigation ul li a{
    color: #ffffff;
    text-decoration: none;
    outline: none;
    display:inline-block;
    font-size: 16px;
    line-height: 38px;
    outline: none;
    padding: 0 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
.top-navigation ul li a:hover{
    background: #675C7C;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.top-navigation li a span.badge {
    font-family: 'Pontano Sans',sans-serif;
    font-size: 10px;
    padding: 2px 4px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 4px;
}
.badge-lightBlue {
    background-color: #269abc;
}
.badge-red {
    background-color: #ff7878;
}
#main-container{
    margin-top: 38px;
}
#left-navigation {
    background: #58595b;
    float: left;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 200px;
}

#min-wrapper{
    background: #58595b;
    float: left;
    padding-left: 200px;
    width: 100%;
}
#main-content{
    background: #f9f9f9;
    height: 100%;
    min-height: 900px;
    padding:25px;
}

ul.mainNav {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.mainNav li {
    border-bottom: 1px solid #555557;
    position: relative;
}
ul.mainNav li a {
    line-height: 13px;
    font-size: 13px;
    padding: 10px 5px 10px 10px;
    display: block;
    text-decoration: none;
    color: #c6c6c6;
    outline: 0;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.mainNav li a.active, ul.mainNav li a:hover {
    background-color:#675C7C;
    color:#ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
ul.mainNav li.current a{
    background-color:#675C7C;
    color:#ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.mainNav li a i {
    margin-right: 5px;
    width: 15px;
}
ul.mainNav li a span {
    font-size: 12px;
    line-height: 12px;
}
ul.mainNav li a span.badge {
    border-radius: 2px;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    padding: 2px 5px;
    position: absolute;
    right: 30px;
}
ul.mainNav li a b {
    width: 12px;
}
ul.mainNav b {
    float: right;
    font-size: 14px;
    font-weight: 400;
}
ul.mainNav ul {
    background: #58595b;

    list-style: none;
    margin: 0;
    padding: 0;
}
ul.mainNav ul li {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.mainNav ul li a {
    font-size: 12px;
    font-weight: normal;
    outline: 0 none;
    padding-left: 30px;
}
.doc-head{
    font-size: 26px;
    font-weight: bold;
    margin: 0 0 5px 25px;
    text-transform: uppercase;
}
.doc-box{
    padding-top: 70px;
}
.ls-circle-widget {
    cursor: pointer;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    margin: auto;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ls-circle-widget i {
    font-size: 65px;
    margin: auto;
    line-height: 180px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ls-circle-widget h1 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}

.ls-circle-widget:hover, .ls-circle-widget.active {
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ls-circle-widget.square-hover:hover, .ls-circle-widget.square-hover.active{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ls-circle-widget:hover i, .ls-circle-widget.active i {
    font-size: 45px;
    line-height: 65px;
    padding-top: 50px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ls-circle-widget:hover h1, .ls-circle-widget.active h1 {
    opacity: 1;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.label-facebook{
    background-color: #314A87;
}
.label-twitter{
    background-color: #22BBF4;
}
.label-contact{
    background-color: #ff7878;
}
a.circle-widget{
    color: #FFFFFF;
    text-decoration:none ;
    outline: none;
}
.circle-widget:hover{
    color: #FFFFFF;
    text-decoration:none ;
    outline: none;
}
.support.tag.close {
    color: #fff;
    float: none;
    font-size: 12px;
    font-weight: 400;
    opacity: 1;
    text-shadow: none;
}
pre code{
    font-size: 12px;
}
img.screenshot{
    width: 400px;
    height: auto;
}
img.screenshot-big{
    width: 100%;
    height: auto;
}
.margin-top-30{
    margin-top: 30px;
}